<% content_for :title do %>ユーザ無料登録<% end %>
<% content_for :footer_js do %>
<%= javascript_include_tag 'new_user_create' %>
<% end %>
<%= form_tag('/new_user_create/create') do |f| %>
<div class="mt20">
	<p class="title is-5">
		ユーザ無料登録
	</p>
	<p>
		ご入力頂いたメールアドレスに本システムへログイン頂くためのパスワードを送信します。
	</p>
	<div>
		<% # errorメッセージ表示領域 %>
		<%= render :file => 'layouts/error.html.erb' %>
		<% # noticeメッセージ表示領域 %>
		<%= render :file => 'layouts/notice.html.erb' %>
		<div class="mt20">
			<%= label_tag "メールアドレス"%><span style="color:red">＊</span><br>
			<%= text_field_tag "mailAddress", (params[:mailAddress] if params[:mailAddress] != nil), { :placeholder => "メールアドレスを入力してください", :class => "input is-info text-width" } %>
		</div>
		<div class="mt20">
			<%= label_tag "お名前"%><span style="color:red">＊</span><br>
			<%= text_field_tag "userName", (params[:userName] if params[:userName] != nil), { :placeholder => "お名前を入力してください", :class => "input is-info text-width" } %>
			<p class="ft-sm">
				※お名前は本名でなくても構いません。シェアやいいね数ランキング表示で他の人にも表示されます。後から変更できませんのでご注意ください。
			</p>
		</div>
		<div class="mt20">
			<%= label_tag "生年月日"%><span style="color:red">＊</span><br>
			<%= text_field_tag "birthday", (params[:birthday] if params[:birthday] != nil), { :placeholder => "生年月日を入力してください", :class => "input is-info fieldset__input js__datepicker text-width" } %>
			<p class="ft-sm">
				※生年月日はシステム上でのご本人様確認のために使用します。
			</p>
		</div>
	</div>
	<div class="mt30">
		<p class="mt30">
			必ず<%= link_to "利用規約", "/use_rule", target:"_blank"%>、<%= link_to "プライバシーポリシー", "/privacy_policy", target:"_blank"%>をお読みください。
			<br/>
			<%= check_box_tag 'agree', 'agree', (params[:agree].nil? ? false : true) %><label for="agree">&nbsp;利用規約およびプライバシーポリシーに同意する</label>
		</p>
		<p>
			<a href="javascript:document.submit()"> <%= button_tag '無料登録する', :class => "button is-link" %> </a>
		</p>
	</div>
</div>
</div>
<% end %>