<% content_for :title do %>カテゴリ選択<% end %>
<%= form_tag('/ctg_sel/start') do |f| %>
<p class="subtitle is-6">
	<%= label_tag "カテゴリ選択"%>
</p>
<p>
	<%= label_tag "カテゴリを選択し、チャレンジを開始してください。"%>
</p>
<% # errorメッセージ表示領域 %>
<%= render :file => 'layouts/error.html.erb' %>
<div class="ctg_radio">
	<% @categories.each_with_index do |record, index| %>
	<div>
		<%= radio_button_tag("category_id", record["id"], false, options = {}) %>
		<%= label_tag("category_id_" + (index+1).to_s, record["category_name"]) %>
		<% if record["created_user_id"] != session[:id] %>
		<span style="font-size:12px; color:#084B8A">(<%= record["user_name"].to_s + "さんからシェアされています"  %>)</span>
		<% end %>
	</div>
	<% end %>
</div>
<div class="mt30">
	<a href="javascript:document.submit()"> <%= button_tag 'START', {:class => "button is-link"} %> </a>
</div>
<% end %>