<% content_for :title do %>カテゴリ選択<% end %>
<%= form_tag('/ctg_sel/start') do |f| %>
<p class="subtitle is-6">
	<%= label_tag "カテゴリ選択"%>
</p>
<p>
	<%= label_tag "カテゴリを選択し、チャレンジを開始してください。"%>
</p>
<% # errorメッセージ表示領域 %>
<%= render :file => 'layouts/error.html.erb' %>
<div class="ctg_sel columns">
	<div class="column is-12">
		<div class="select is-info">
			<%= select_tag :category_id, options_from_collection_for_select(@categories, "id", "category_name"), prompt: "カテゴリを選択してください" %>
		</div>
	</div>
</div>
<div>
	<a href="javascript:document.submit()"> <%= button_tag 'START', {:class => "button is-link"} %> </a>
</div>
<% end %>