<% content_for :title do %>パスワード変更<% end %>
<%= form_tag('/pw_chg/change') do |f| %>
<div class="mt20">
	<p class="subtitle is-6">
		パスワード変更
	</p>
	<p>
		各項目を入力し、パスワードを変更してください。
		<br>
		注）パスワードは半角英数字記号を全て含む8文字以上100文字以下で入力してください。
	</p>
	<% # errorメッセージ表示領域 %>
	<%= render :file => 'layouts/error.html.erb' %>
	<% # noticeメッセージ表示領域 %>
	<%= render :file => 'layouts/notice.html.erb' %>
	<div>
		<div class="mt20">
			<p>
				<%= label_tag "現在のパスワード"%><span style="color:red">＊</span>
			</p>
			<%= password_field_tag "nowPassword", (params[:nowPassword] if params[:nowPassword] != nil), { :placeholder => "現在のパスワードを入力してください", :class => "input is-info w50" } %>
		</div>
		<div class="mt30">
			<p>
				<%= label_tag "新しいパスワード"%><span style="color:red">＊</span>
			</p>
			<%= password_field_tag "newPassword", (params[:newPassword] if params[:newPassword] != nil), { :placeholder => "新しいパスワードを入力してください", :class => "input is-info w50" } %>
		</div>
		<div class="mt30">
			<p>
				<a href="javascript:document.submit()"> <%= button_tag '変更する', :class => "button is-link" %> </a>
			</p>
		</div>
	</div>
</div>
<% end %>