<% content_for :title do %>チャレンジ問題終了<% end %>
<%= form_tag('/public_category_cg_comp/comp') do |f| %>
<p class="subtitle is-6">
	チャレンジ問題終了
</p>

<div class="mt20">
	<p>カテゴリ内の全ての問題を終了しました。<br>いいなと思ったら、高評価とツイートを忘れずに！</p>
	<span class="button is-rounded is-small is-primary" onClick="<%= 'document.good.submit();' if @isGoodAble %>" >
		<%= fa_icon "thumbs-up", text: "　いいね！　" %><%= @goodCount %>
	</span>
	<a href="https://twitter.com/intent/tweet?text=[Mana Mana]この知識はぜひ知っておきたい！%0a圧倒的学習！さあ夢へ向かって爆速で知識を深めよう！&url=https://jimonjitou.herokuapp.com/public_category_cg?category_id=<%= params[:category_id] %>" target="_blank" rel="nofollow" class="twitter-link">
		<span class="button is-rounded is-small is-info" ><%= fa_icon "twitter", text: "　Twitterへ" %></span>
	</a>
	<br><p class="mt05" style="font-size: 11px">注）１カテゴリに対して、１人あたりいいね！は１回まで有効です。</p>
</div>
<div class="mt20">
	<a href="javascript:document.submit()"> <%= button_tag 'シェア一覧画面へ戻る', {:class => "button is-link"} %> </a>
</div>
<% end %>
<%= form_tag('/public_category_cg_comp/good', { :id => "good", :name => "good" }) do |f| %>
<%= hidden_field_tag "category_id", params[:category_id] %>
<% end %>