<%= form_tag('/info_mng/update') do |f| %>
<p class="subtitle is-6">
	お知らせ管理
</p>
<p>
	お知らせ情報（最大３件まで）を更新してください。全ユーザに公開されますので、ご注意ください。
</p>
<% # errorメッセージ表示領域 %>
<%= render :file => 'layouts/error.html.erb' %>
<% # noticeメッセージ表示領域 %>
<%= render :file => 'layouts/notice.html.erb' %>
<%- (1..3).each do |x| -%>
<p>
	<%= label_tag 'information',"◽️お知らせ"+ x.to_s, :class=>"is-6" %>
</p>
<div class="columns">
	<%= hidden_field_tag "information_id[]", x %>
	<div class="column is-1">
		<%= label_tag "タイトル"%>
	</div>
	<div class="column is-11">
		<%= text_field_tag "title[]", (params[:title][x-1] if params[:title] != nil), { :placeholder => "お知らせのタイトルを入力してください", :class => "input is-info" } %>
	</div>
</div>
<div class="columns">
	<div class="column is-1">
		<%= label_tag "内容"%>
	</div>
	<div class="column is-11">
		<%= text_area_tag "contents[]", (params[:contents][x-1] if params[:contents] != nil), { :placeholder => "お知らせの内容を入力してください", :class => "textarea is-info", :rows => "5"} %>
	</div>
</div>
<% end %>
<div id="upd_button_area">
	<a href="javascript:document.submit()"> <%= button_tag '更新', {:class => "button is-link"} %> </a>
</div>
<% end %>