<% content_for :title do %>全てのユーザにシェアされているカテゴリ一覧<% end %>
<% content_for :footer_js do %>
<%= javascript_include_tag 'public_category_list' %>
<% end %>
<%= form_tag('/public_category_list/search') do |f| %>
<p class="subtitle is-6">
	全てのユーザにシェアされているカテゴリ一覧
</p>
<p>
	各種条件を指定し、検索ボタンを押してください。
</p>
<% # errorメッセージ表示領域 %>
<%= render :file => 'layouts/error.html.erb' %>
<% # noticeメッセージ表示領域 %>
<%= render :file => 'layouts/notice.html.erb' %>
<div class="searchCondition columns">
	<div class="column is-1">
		<%= label_tag "カテゴリ"%>
	</div>
	<div class="column is-5">
		<%= hidden_field_tag "condition[h_category]", (params[:condition][:category] if params[:condition] != nil) %>
		<%= text_field_tag 'condition[category]', (params[:condition][:category] if params[:condition] != nil), {:placeholder => "", :class => "input is-info"} %>
	</div>
	<div class="column is-1">
		<%= label_tag "いいね数"%>
	</div>
	<div class="column is-5">
		<%= hidden_field_tag "condition[h_good]", (params[:condition][:good] if params[:condition] != nil) %>
		<%= number_field_tag 'condition[good]', (params[:condition][:good] if params[:condition] != nil), {:placeholder => "指定値以上を検索します", :class => "input is-info"} %>
	</div>
</div>
<div class="searchCondition columns">
	<div class="column is-1">
		<%= label_tag "登録者名"%>
	</div>
	<div class="column is-5">
		<%= hidden_field_tag "condition[h_userName]", (params[:condition][:userName] if params[:condition] != nil) %>
		<%= text_field_tag 'condition[userName]', (params[:condition][:userName] if params[:condition] != nil), {:placeholder => "", :class => "input is-info"} %>
	</div>
	<div class="column is-1">
		<%= label_tag "登録日時"%>
	</div>
	<div class="column is-5">
		<%= hidden_field_tag "condition[h_fromRegDate]", (params[:condition][:fromRegDate] if params[:condition] != nil) %>
		<%= hidden_field_tag "condition[h_toRegDate]", (params[:condition][:toRegDate] if params[:condition] != nil) %>
		<%= text_field_tag 'condition[fromRegDate]', (params[:condition][:fromRegDate] if params[:condition] != nil), {:class => "input is-info", :style => "width:130px;"} %>
		<%= label_tag "〜" %>
		<%= text_field_tag 'condition[toRegDate]', (params[:condition][:toRegDate] if params[:condition] != nil), {:class => "input is-info", :style => "width:130px;"} %>
	</div>
</div>
<div id="search_button">
	<a href="javascript:document.forms[0].action = '/public_category_list/search'; document.forms[0].submit()">
		<%= button_tag (fa_icon "search", text: "　検索"), {:class => "button button-icon-include is-link", type: 'button'} %>
	</a>
</div>
<% end %>
<% if request.url =~ /search/ %>
<%= render(:partial => "result") %>
<% end %>