<% content_for :title do %>カテゴリ管理<% end %>
<%= form_tag('/ctg_mng/update', { :id => "ctg_mng", :name => "ctg_mng" }) do |f| %>
<p class="subtitle is-6">
	カテゴリ管理
</p>
<p>
	カテゴリは問題を振り分ける役目を担います。現在登録されているカテゴリは下記表の通りです。
	<br/>
	問題へのチャレンジがしやすくなるよう、ご自由にご登録してください。
</p>
<% # errorメッセージ表示領域 %>
<%= render :file => 'layouts/error.html.erb' %>
<% # noticeメッセージ表示領域 %>
<%= render :file => 'layouts/notice.html.erb' %>
<div class="text-right mb05">
	<%= button_tag '行追加', {:type => "button", :class => "button is-link is-small is-rounded", :onClick => "createCategoryRecord()"} %>
</div>
<%= hidden_field_tag "delCategoryId" %>
<table id="tblCategory">
	<thead>
		<tr>
			<th style="width:10%">ID</th>
			<th style="width:50%">カテゴリ名</th>
			<th style="width:20%">シェア状況</th>
			<th style="width:20%"></th>
		</tr>
	</thead>
	<tbody>
		<% params[:categoryName].each_with_index do |category, x| %>
		<tr>
			<% categoryId = (params[:categoryId][x] if params[:categoryId] != nil) %>
			<%= hidden_field_tag "categoryId[]", categoryId, {:id=>"categoryId_" + x.to_s} %>
			<td><%= categoryId %></td>
			<td><%= text_field_tag "categoryName[]", (params[:categoryName][x] if params[:categoryName] != nil), { :id => "categoryName_" + x.to_s, :class => "input is-info" } %></td>
			<td style="vertical-align: middle">
				<% if params[:allShareFlg][x] %>
					<span class="circle_blue" title="全体にシェアされています">全体</span>
				<% end %>
				<% if params[:onlyShareFlg][x] %>
					<span class="circle_pink" title="一部のユーザにシェアされています">限定</span>
				<% end %>
			</td>
			<td class="text-center delButton">
				<a href="/ctg_share?category_id=<%= categoryId %>"><%= button_tag '詳細', {:type => "button", :class => "button is-info is-small is-rounded"} %></a>
				<%= button_tag '削除', {:type => "button", :class => "button is-danger is-small is-rounded", :onClick => "destroyCategoryRecord(" + categoryId.to_s + ")"} %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<div id="upd_button_area">
	<a href="javascript:document.submit()"> <%= button_tag "更新する", {:class => "button is-link"} %> </a>
</div>
<script type="text/javascript">
	function createCategoryRecord() {
		record = "<tr>";
		record += "<td>";
		record += '<input type="hidden" name="categoryId[]" class="input is-info">';
		record += "</td>";
		record += "<td>";
		record += '<input type="text" name="categoryName[]" class="input is-info">';
		record += "</td>";
		record += "<td></td>";
		record += "<td class='text-center'>";
		record += '<input type="button" class="button is-danger is-small is-rounded" value="行削除" onClick="$(this).parent().parent().remove();">';
		record += "</td>";
		record += "</tr>";
		$("#tblCategory").append(record);
	}
	function destroyCategoryRecord(delTargetCategoryId) {
		var ret = confirm("カテゴリを削除してよろしいですか？")
		if(ret) {
			$("#delCategoryId").val(delTargetCategoryId);
			$("#ctg_mng").attr("action", "/ctg_mng/delete");
			document.ctg_mng.submit();
		}
	}
</script>
<% end %>