<% content_for :title do %>ログイン<% end %>
<%= form_for(@user, :url => {:action => :login}) do |f| %>
<div class="has-text-centered">
	<%= image_tag('manamana_title.png', :class => 'title_logo') %>
</div>
<div class="text-center">
	<%#エラーメッセージ表示領域 %>
	<%= render :file => 'layouts/error.html.erb' %>
	<%#各種入力エリア %>
	<input type="hidden" name="url" id="url" value="<%= params[:url] %>" />
	<div>
		<%= f.text_field :mail_address, :placeholder => "メールアドレスを入力してください", :class => "input is-info text-width-sm" %>
	</div>
	<div>
		<%= f.password_field :password, :placeholder => "パスワードを入力してください", :class => "input is-info text-width-sm" %>
	</div>
	<div style="margin-top: 15px; margin-bottom: 15px">
		<a href="javascript:document.submit()"> <%= f.button (fa_icon "sign-out", text: "　ログイン"), :class => "button button-icon-include is-link" %> </a>
	</div>
	<div>
		かんたんマニュアルは<%= link_to "こちら", "/how_to_use.html", :target => "_blank" %>
	</div>
	<div>
		パスワードを忘れた方は<%= link_to "こちら", "/pw_reset" %>
	</div>
	<div>
		新規登録をする場合は<%= link_to "こちら", "/new_user_create"%>
	</div>
</div>
<% end %>
