<% content_for :title do %>カテゴリシェア<% end %>
<% content_for :footer_js do %>
<%= javascript_include_tag 'ctg_share' %>
<% end %>
<%= form_tag('/ctg_share/share', { :id => "ctg_share", :name => "ctg_share" }) do |f| %>
<div class="mt20">
	<p class="subtitle is-6">
		カテゴリシェア
	</p>
	<p>
		カテゴリ「<%= @category.name %>」を他の人にシェアすることができます。<br>
		シェアされた相手はこのカテゴリに紐づいている問題にチャレンジすることができます。<br>
		一部のユーザへシェアする場合には「一部のユーザへのシェア」欄へ、<br>
		全てのユーザへシェアする場合には「全てのユーザへのシェア」欄へ進んでください。
	</p>
	<% # errorメッセージ表示領域 %>
	<%= render :file => 'layouts/error.html.erb' %>
	<% # noticeメッセージ表示領域 %>
	<%= render :file => 'layouts/notice.html.erb' %>
	<%= hidden_field_tag "category_id", params[:category_id] %>
	<p class="mt20 subsubtitle">一部のユーザへのシェア</p>
	<p>シェアする相手のメールアドレスと生年月日を入力してください。</p>
	<div>
		<div class="mt10">
			<%= text_field_tag "mailAddress", (params[:mailAddress] if params[:mailAddress] != nil), { :placeholder => "相手のメールアドレスを入力してください", :class => "input is-info text-width" } %>
		</div>
		<div class="mt10">
			<%= text_field_tag "birthday", (params[:birthday] if params[:birthday] != nil), { :placeholder => "相手の生年月日を入力してください", :class => "input is-info text-width" } %>
		</div>
		<div class="mt20">
			<p>
				<%= button_tag '上記で入力した相手にシェアする', {:type => "button", :id => "btnShare", :class => "button is-link", :onclick => "checkShare();"} %>
			</p>
		</div>
	</div>
	<% if ! @sharedUserRecords.blank? %>
	<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth mt30 parent_three_point_reader">
		<thead>
			<tr>
				<th style="width:30%">シェアしているユーザ</th>
				<th style="width:50%">メールアドレス</th>
				<th style="width:20%"></th>
			</tr>
		</thead>
		<tbody>
			<% @sharedUserRecords.each do |shareUserRecord| %>
			<tr>
				<td><%= shareUserRecord.name %></td>
				<td><%= shareUserRecord.mail_address %></td>
				<td class="text-center"> <%= button_tag 'シェアを取り消す', {:type => "button", :class => "button is-danger is-small is-rounded", :onClick => "destroyShare(" + shareUserRecord.record_id.to_s + ")"} %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
	<% if @sharedUserRecords.blank? && @category.all_share_flg != 1 %>
		<p class="mt30">
			このカテゴリは現在シェアされていません。ぜひシェアしてみよう！
		</p>
	<% end %>
	<p class="mt20 subsubtitle">友だちを誘う</p>
	<div class="mt10">
		<a target="_blank" href="https://twitter.com/intent/tweet?text=[Mana Mana]爆速で知識を増やしませんか？%0aランキング上位で賞金Get！人気のManaManaを今すぐあなたの日常に！&url=<%= ERB::Util.url_encode('https://' + request.host_with_port + '/login') %>" target="_blank" rel="nofollow" class="twitter-link">
			<span class="button button-icon-include is-rounded is-small is-info" ><%= fa_icon "twitter", text: "　Twitterへ" %></span>
		</a>
		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= ERB::Util.url_encode("https://" + request.host_with_port + "/login") %>" >
			<span class="button button-icon-include is-rounded is-small is-link" ><%= fa_icon "facebook", text: "　Facebookへ" %></span>
		</a>
		<a target="_blank" href="http://line.me/R/msg/text/?<%= ERB::Util.url_encode("https://" + request.host_with_port + "/login") %>">
			<span class="button is-rounded is-small is-success" >Lineへ</span>
		</a>
	</div>
	<p class="mt30 subsubtitle">全てのユーザへのシェア</p>
	<% if @category.all_share_flg != 1 %>
	<p>Mana Manaを利用している全てのユーザにシェアします。<br>全てのユーザにシェアすると、いいね数ランキングの対象になります。</p>
	<%= label_tag "カテゴリの説明"%><span style="color:red">＊</span>
	<%= text_area_tag "tmp_description", (params[:description] if params[:description] != nil), { :placeholder => "シェア相手に表示される内容になります。どんな問題が含まれているのかわかりやすく簡潔に入力してください。", :class => "textarea is-info", :rows => "5"} %>
	<p class="mt20">
		<%= button_tag '全てのユーザにシェアする', {:type => "button", :id => "btnShare", :class => "button is-link", :onclick => "allShare();"} %>
	</p>
	<% else %>
	<p>Mana Manaを利用している全てのユーザへのシェアを取り止めます。（カテゴリを消さない限り、いいね数はそのまま保持されます）</p>
	<%= label_tag "カテゴリの説明"%>
	<p style="white-space: pre-wrap;border: 1px solid;border-color: #209cee; background-color: #f5f5f5"><%= label_tag @category.description %></p>
	<p class="mt20">
		<%= button_tag '全てのユーザへのシェアを取り止める', {:type => "button", :id => "btnShare", :class => "button is-danger", :onclick => "stopAllShare();"} %>
	</p>
	<% end %>
</div>
<script type="text/javascript">
	function checkShare() {
		var ret = confirm("シェアしてよろしいですか？");
		if (ret) {
			document.ctg_share.submit();
		}
	}

	function destroyShare(delTargetRecordId) {
		var ret = confirm("シェアを取り消してよろしいですか？")
		if (ret) {
			$("#del_record_id").val(delTargetRecordId);
			document.ctg_share_del.submit();
		}
	}

	function allShare() {
		var ret = confirm("全てのユーザにシェアしてもよろしいですか？\n（いいね数ランキング対象になります。ぜひ積極的にシェアしてください！）")
		if (ret) {
			$("#description").val($("#tmp_description").val());
			document.ctg_share_all.submit();
		}
	}
	function stopAllShare() {
		var ret = confirm("全てのユーザのシェアを解除してもよろしいですか？")
		if (ret) {
			document.ctg_share_stop_all.submit();
		}
	}
</script>
<% end %>
<%= form_tag('/ctg_share/delete', { :id => "ctg_share_del", :name => "ctg_share_del" }) do |f| %>
<%= hidden_field_tag "category_id", params[:category_id] %>
<%= hidden_field_tag "del_record_id" %>
<% end %>
<%= form_tag('/ctg_share/all_share', { :id => "ctg_share", :name => "ctg_share_all" }) do |f| %>
<%= hidden_field_tag "category_id", params[:category_id] %>
<%= hidden_field_tag "description", params[:description] %>
<% end %>
<%= form_tag('/ctg_share/stop_all_share', { :id => "ctg_share", :name => "ctg_share_stop_all" }) do |f| %>
<%= hidden_field_tag "category_id", params[:category_id] %>
<% end %>