<% content_for :title do %>パスワードリセット<% end %>
<% content_for :footer_js do %>
<%= javascript_include_tag 'pw_reset' %>
<% end %>
<%= form_tag('/pw_reset/reset') do |f| %>
<div class="mt20">
	<p class="title is-5">
		パスワードリセット
	</p>
	<p class="text-center">
		入力したメールアドレスに対して新しいパスワードを送信します。
	</p>
	<div class="text-center">
		<% # errorメッセージ表示領域 %>
		<%= render :file => 'layouts/error.html.erb' %>
		<div class="columns mt20">
			<div class="column is-5 text-right">
				<%= label_tag "メールアドレス"%><span style="color:red">＊</span>
			</div>
			<div class="column is-7 text-left">
				<%= text_field_tag "mailAddress", (params[:mailAddress] if params[:mailAddress] != nil), { :placeholder => "メールアドレスを入力してください", :class => "input is-info w50" } %>
			</div>
		</div>
		<div class="columns">
			<div class="column is-5 text-right">
				<%= label_tag "生年月日"%><span style="color:red">＊</span>
			</div>
			<div class="column is-7 text-left">
				<%= text_field_tag "birthday", (params[:birthday] if params[:birthday] != nil), { :placeholder => "生年月日を入力してください", :class => "input is-info fieldset__input js__datepicker w40" } %>
			</div>
		</div>
		<div class="mt30">
			<p>
				<a href="javascript:document.submit()"> <%= button_tag 'パスワードリセット', :class => "button is-link" %> </a>
			</p>
		</div>
	</div>
</div>
<% end %>