<% @loadQuestion = @questions.load %>
<div class="mt30">
	<div class="columns">
		<div class="column">
			<%= label_tag "総件数 " + @questions.total_count.to_s + " 件　" + (@questions.offset_value + 1).to_s + " 件 〜 " + (@questions.offset_value + @questions.length).to_s + " 件までを表示"%>
		</div>
		<div id="csv_button" class="column">
			<%= button_tag 'CSV出力', {:type => "button", :id => "btnOutCsv", :class => "button is-info is-small is-rounded", type: 'button'} %>
			<%= button_tag 'CSV取込', {:type => "button", :id => "btnUpdCsv", :class => "button is-info is-small is-rounded", type: 'button'} %>
		</div>
	</div>
	<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth mb30 parent_three_point_reader">
		<thead>
			<tr>
				<th style="width:15%">カテゴリ</th>
				<th style="width:25%">問題</th>
				<th class="hidden-part" style="width:25%">解答</th>
				<th class="hidden-part" style="width:15%">登録日時</th>
				<th style="width:20%"></th>
			</tr>
		</thead>
		<tbody>
			<% @loadQuestion.each do |question| %>
			<tr>
				<td class="categoryName child_three_point_reader tooltip" title="<%= question.name %>"><%= question.name %></td>
				<td class="question child_three_point_reader" title="<%= question.question %>"><%= question.question %></td>
				<td class="answer child_three_point_reader hidden-part" title="<%= question.answer %>"><%= question.answer %></td>
				<td class="regDate hidden-part"><%= question.created_at.strftime("%Y/%m/%d") %></td>
				<td class="updButton"><a href="/qs_upd/?question_id=<%= question.id %>" > <%= button_tag '変更する', {:class => "button is-info is-small is-rounded"} %> </a></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= paginate(@questions) %>
<%= form_tag('/qs_list/outputCsv?format=csv') do |f| %>
	<%= hidden_field_tag "condition[h_category_id]" %>
	<%= hidden_field_tag "condition[h_question]" %>
	<%= hidden_field_tag "condition[h_answer]" %>
	<%= hidden_field_tag "condition[h_fromRegDate]" %>
	<%= hidden_field_tag "condition[h_toRegDate]" %>
<% end %>
<%= form_tag('/qs_list/uploadCsv', { :enctype => "multipart/form-data" }) do |f| %>
<div class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<input type="file" id="inpFile" name="inpFile" multiple>
		<p id="areaFile">
			ここへCSVファイルをドラッグ&ドロップしてください
			<br>
			キャンセルする場合は枠外をクリックしてください
			<br>
			なお、CSVファイル名は半角文字のみ、文字コードはShift-JISのみ受け付けます
		</p>
		<div class="text-center mt40">
			<%= button_tag 'CSVアップロード実行', {:id => "btnExeFile" , :class => "button is-info is-small is-rounded", type: 'button'} %>
		</div>
	</div>
</div>
<% end %>
<script type="text/javascript">
	$("#btnOutCsv").on("click", function() {
		document.forms[1]["condition_h_category_id"].value = document.forms[0]["condition_h_category_id"].value;
		document.forms[1]["condition_h_question"].value = document.forms[0]["condition_h_question"].value;
		document.forms[1]["condition_h_answer"].value = document.forms[0]["condition_h_answer"].value;
		document.forms[1]["condition_h_fromRegDate"].value = document.forms[0]["condition_h_fromRegDate"].value;
		document.forms[1]["condition_h_toRegDate"].value = document.forms[0]["condition_h_toRegDate"].value;
		document.forms[1].submit();
	}); 
	$("#btnUpdCsv").on("click", function() {
		$("div.modal").addClass("is-active");
	});
	$("div.modal-background").on("click", function() {
		$("div.modal").removeClass("is-active");
	});
	$("#inpFile").on("change", function() {
		if ($("#inpFile").val() != "") {
			$("#areaFile").html($("#inpFile").val() + "<br>上記をアップロードしてよろしければボタンを押してください");
		} else {
			$("#areaFile").html("このエリアに取込対象CSVファイルをドラッグ＆ドロップするか、<br>クリックして取込対象CSVファイルを選択してください");
		}
	});
	$("#btnExeFile").on("click", function() {
		document.forms[2].submit();
	});
</script>
