<% if request.url =~ /login|use_rule|privacy_policy|new_user_create|new_user_temp_create_comp|pw_reset|pw_reset_comp|unsubscribe_comp/ then %>
	<% hfDisplay = true %>
<% else %>
	<% hfDisplay = false %>
<% end %>

<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137827105-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-137827105-1');
		</script>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
		    google_ad_client: "ca-pub-7661353422478254",
		    enable_page_level_ads: true
		  });
		</script>
		<title><%= yield :title %> | Mana Mana</title>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/fv_title.png">
		<link rel="icon" type="image/png" href="/assets/fv_title.png" sizes="16x16">
		<link rel="apple-touch-icon" sizes="16x16" href="/assets/fv_title.png">
		<link rel="icon" type="image/png" href="/assets/fv_title.png" sizes="16x16">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%# Bulma読込 %>
		<script src="/assets/bulma-calendar.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

		<%# Pickadate読込 %>
		<%= javascript_include_tag '/assets/jquery/jquery-3.3.1.min', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag '/assets/pickadate/legacy', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag '/assets/pickadate/picker', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag '/assets/pickadate/picker.date', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag '/assets/pickadate', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag '/assets/moment/moment.min', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag '/assets/moment/moment-with-locales.min', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag '/assets/axios/axios.min', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag '/assets/pickadate/default', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag '/assets/pickadate/default.date', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%# Rails共通 %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		<%# モバイル対応%>
		<meta name="viewport" content="width=device-width" >

		<%= yield :header_js %>
	</head>
	<body class="wrap">
		<div class="container">
			<%# 共通ヘッダー（ログイン以外の画面の時のみ表示） %>
			<% if !hfDisplay %>
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a class="navbar-item" href="#"><%= image_tag('manamana_title.png', :class => 'logo-visible') %></a>
					<div class="navbar-item mr30 ft-sm" style="flex-direction:column;align-items:flex-start">
						<p class="fs-scaling">
							<span id="RealtimeClockArea"></span>
						</p>
						<p class="fs-scaling">
							<%= session[:user_name] %>さん、ようこそ！
						</p>
					</div>
				</div>
			</nav>
			<div class="tabs" data-turbolinks="false">
				<ul>
					<li class="<%= 'is-active' if request.url =~ /top/ %>">
						<a href="/top">トップ</a>
					</li>
					<li class="<%= 'is-active' if request.url =~ /qs_list/ %>">
						<a href="/qs_list">問題</a>
					</li>
					<li class="<%= 'is-active' if request.url =~ /ctg_sel/ %>">
						<a href="/ctg_sel">チャレンジ</a>
					</li>
					<li class="<%= 'is-active' if request.url =~ /ctg_mng/ %>">
						<a href="/ctg_mng">マイカテゴリ</a>
					</li>
					<li class="<%= 'is-active' if request.url =~ /public_category_list/ %>">
						<a href="/public_category_list">シェアリング</a>
					</li>
					<li class="<%= 'is-active' if request.url =~ /ranking_list/ %>">
						<a href="/ranking_list">ランキング</a>
					</li>
					<% if @adminFlg then %>
					<li class="<%= 'is-active' if request.url =~ /info_mng/ %>">
						<a href="/info_mng">お知らせ</a>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<%# パンくずリスト %>
			<% if ( request.url =~ /qs_reg/ || request.url =~ /qs_upd/ || request.url =~ /qs_del_comp/) %>
			<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
				<ul>
					<li>
						<a href="/qs_list">問題一覧</a>
					</li>
					<% if request.url =~ /qs_reg/ %>
					<li class = "is-active">
						<a href="/qs_reg" aria-current="page">問題登録</a>
					</li>
					<% end %>
					<% if request.url =~ /qs_upd|qs_del_comp/ %>
					<li class="is-active">
						<a href="/qs_upd" aria-current="page">問題更新</a>
					</li>
					<% end %>
					<% if request.url =~ /qs_del_comp/ %>
					<li class="is-active">
						<a href="#" aria-current="page">問題削除完了</a>
					</li>
					<% end %>
				</ul>
			</nav>
			<% end %>
			<% if ( request.url =~ /ctg_share/) %>
			<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
				<ul>
					<li>
						<a href="/ctg_mng">カテゴリ管理</a>
					</li>
					<li class = "is-active">
						<a href="/ctg_share" aria-current="page">カテゴリシェア</a>
					</li>
				</ul>
			</nav>
			<% end %>
			<%# メインコンテナ %>
			<div class="content">
				<%# メインコンテンツ %>
				<%= yield %>
				<%# 共通フッター %>
				<footer class= "footer mt30">
					<div class="content has-text-centered">
						<% if !hfDisplay %>
							<a href="/use_rule" target="_blank" class="ft-sm">利用規約</a>　|　
							<a href="/privacy_policy" target="_blank" class="ft-sm">プライバシーポリシー</a>　|　
							<a href="/qa" target="_blank" class="ft-sm">よくある質問</a><br>
							<a href="/pw_chg" target="_blank" class="ft-sm">パスワード変更</a>　|　
							<a href="/ml_chg" target="_blank" class="ft-sm">メールアドレス変更</a>　|　
							<a href="/login" class="ft-sm">ログアウト</a>
						<% end %>
						<% if request.url =~ /login/ then %>
							<a href="/use_rule" target="_blank" class="ft-sm">利用規約</a>　|　
							<a href="/privacy_policy" target="_blank" class="ft-sm">プライバシーポリシー</a>
						<% end %>
						<p class="mt10">
							© 2019 Mana Mana All rights reserved.
						</p>
					</div>
				</footer>
			</div>
		</div>
		<%= yield :footer_js %>
	</body>
</html>